*   {   
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "pt sans",sans-serif;
}

header{
    padding:20px 0;
}

:root {
    --maincolor:#7b5244;
    --subcolor:#333;
}


.container{
    width:80%;
    margin:auto;
}

.list-unstyle{
    list-style: none;
    display: flex;
    /* justify-content: space-between; */

}


.navbar .list-unstyle li , .login .list-unstyle li{
    margin-left:20px;
    /* display: inline-block; */
}

.header-content ul li , .header-content ul li a{
    color:var(--subcolor);
    font-weight: bold;
}


.header-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

a{
    text-decoration: none;
}


.header-content .login ul li i:last-child  {
    position: relative;
}


.header-content .login ul li i:last-child :after {
    content: "0";
    position: absolute;
    color: white;
    background: var(--maincolor);
    left: 22px;
    bottom: -8px;
    font-size: 20px;
    border-radius: 75%;
}

.login  ul li span {
    font-size: 15px;
    margin-left:10px;
    font-weight: bold;
}

/* slider */

.slider img{
    width:100%;
}


.header-content nav ul li .link-item{
position: relative;
width:100%;
} 

.header-content nav ul li .link-item:before{
    content:"";
    position:absolute;
    border-left:2px solid var(--maincolor);
    border-right:2px solid var(--maincolor);
    top:0;
    left:0;
    height:120%;
    width:96%;
    transform:scale3d(1,0,1);
    transition: transform 0.4s;
}

.header-content nav ul li .link-item:hover:before{
transform:scale3d(1,1,1);
transition-delay: 0.1s;

}


    .header-content nav ul li .link-item:after{
    content:"";
    position: absolute;
    border-top:2px solid var(--maincolor);
    border-bottom:2px solid var(--maincolor);
    top:0;
    left:0;
    height:100%;
    width:100%;
    transform:scale3d(0,1,1);
    transition:transform .2s;
}

.header-content nav ul li .link-item:hover:after{
    transform:scale3d(1,1,1);
    transition-delay: 0.3s;
}

/* drop-drown*/
.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    border:3px solid var(--maincolor);
    padding:5px;
    margin:10px 0;
    width: 400px;
    background:white;
}

.dropdown-menu ul{
    display: table-cell;
    text-align :left;
    padding:10px;
  }

  .dropdown-menu ul li{
    line-height: 2;
  }

.dropdown-menu ul li:first-child a{
color:var(--maincolor);
text-align :left;
margin-bottom:30px;
border-bottom:1px dotted var(--maincolor);
line-height: 4;
}


.dropdown-menu{
    transform:scale(0);
    transition: transform 1s , visibility 0.5s;
    visibility: hidden;
    opacity:0;
}

.dropdown:hover .dropdown-menu{
    transform:scale(1);
    visibility: visible;
    opacity:1
}
/*****************Section Header*******************/

.section-badding{
    padding:30px 0 ;
}

.section-header {
    text-align: center;
    margin-bottom:25px;

}

.section-title{
    font-size:30px;
    margin-bottom: 30px;
}

.section-header .line{
    width:50px;
    height:2px;
    display:block;
    background:var(--maincolor);
    margin:auto;
    transition:width 1s;
}



.section-header:hover .line{
    width:150px;

}

/* category*/

.category-items {
    display: grid ;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.category-item img{
    width:100%;
    margin-bottom:25px;
}

.category-item-subtitle{
    color:gray;
    font-weight: normal;
}

.category-item{
    position:relative;
}

.category-item .icon{
   width:30px; 
   height:30px;
   background:var(--maincolor);
   text-align: center;
   line-height: 30px;
   /* display: block; */
   color:white;
   position:absolute;
   bottom:0;
   right:0;
   transform:translate(0,-15px);
   visibility:hidden;
   opacity:0;
   transition:opacity 1s;
}

.category-item:hover .icon{
    visibility: visible;
    opacity: 1;
}


/* discount section */


.discount-3{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

.discount-3 img{
    width:100%;
    transition:transform 0.5s;
}


.details{
    margin-left:40px;
    margin-bottom: 20px;
    display:block;
    position:relative;
}

.icon2{
    position: absolute;
    top:0;
    left:0;
    transform:translate(-40px,0);
    color:var(--maincolor);
}


.ban1 , .ban2 {
    position: relative;
}

.img1-text , .img2-text{
    position: absolute;
    top:20px;
    left:20px;

}

.ratio{
    color:var(--maincolor);
    margin-bottom:10px;
}

.job{
    color:var(--maincolor);

}
.discount-title{
    background:#f7f3ef;
}

.lines-3 {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    width:50%;
    margin-left :auto;
}

.lines-3 span{
    
background: var(--maincolor);
margin:20px 0;
width:30px;
height:3px;

}


.ban1:hover img ,.ban2:hover img {
    transform:scale(1.03)
}

/* sprites */

.sprites{
    display: flex;

}

.sprite-item{
    flex:1;
    text-align: center;
    border-right:1px solid var(--maincolor);
}

/* .sprite-item:last-child {
border:0;
} */

.sprite-item-no-border{
    border:0;
}

.sprite-info h3{
    font-size: 17px;
}

.sprite-info span{
    font-size: 15px;
    color:gray;
}
.sprite-icon{
    background-image:url(../images/service-icon.png);
    height:55px;
    background-repeat: no-repeat;
}

.sprite-icon-1{
    background-position: center 5px;
    transition:all 0.5s
}
  .sprite-item:hover  .sprite-icon-1{
      background-position: center -86px;
  }


.sprite-icon-2{
    background-position: center -180px;
    transition:all 0.5s
}
.sprite-item:hover  .sprite-icon-2{
    background-position: center -273px;
}


.sprite-icon-3{
    background-position: center -366px;
    transition:all 0.5s
}
.sprite-item:hover  .sprite-icon-3{
    background-position: center -455px;
}

.sprite-icon-4{
    background-position: center -549px;
    transition:all 0.5s
}
.sprite-item:hover  .sprite-icon-4{
    background-position: center -639px;
}

.sprite-icon-5{
    background-position: center -734px;
    transition:all 0.5s
}
.sprite-item:hover  .sprite-icon-5{
    background-position: center -826px;
}
